$main-color: #FE6807;
$submain-color:#FF8252;
$base-color: #787878;
$black-color: #000000;
$nav-color: #BBBBBB;

$provider-color: #757575;
$provider-step-color: #838383;
$provider-bk1-color: #FFB942;
$provider-bk2-color: #F5E1BB;
$provider-bk3-color: #BFE4DE;
$provider-bk4-color: rgba(182,214,237,1);

$provider-card2-color: #D19D37;
$provider-card3-color: #41857C;
$provider-card4-color: #4585AA;

$form-bk-color: #F2F2F2;

$knoweldge-bk-icon: #DEDEDE;

$link-color: #007AFF;

$main-background: rgba(255, 130, 82, 1) linear-gradient(270deg, rgba(255, 100, 0, 1) 0%, rgba(255, 151, 17, 1) 100%);

$button-radius: 14px;
$provider-border-color: #F2F2F2;
