@import './variables';
* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Medium,PingFang SC, 'Microsoft YaHei';
}
iframe {
  width: 100%;
  border: none;

}
.machine {
  display: none;
}
body {
  background-color: $form-bk-color;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: $main-color !important;
  }
  &.btn {
    &:hover {
      color: #0746fe !important;
    }
  }
}

p {
  line-height: 24px;
}

main {
  padding-top: 80px;
  background-color: #fff;
  position: relative;
  width: auto;
  min-width: 1200px;
  margin-bottom: 130px;
  padding-bottom: 20px;
  &.default {
    background-color: $form-bk-color;
  }
}
.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.modal {
  position: absolute;
  top: 100%;
  right: 0;
  height: 200px;
  width: 200px;
  
  padding: 20px;
  background-color: #fff;
  border-radius: 14px;
  z-index: 99;
  display: none;
  img {
    width: 200px;
    height: 200px;
  }
}
.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1200px;
    .container {
      text-align: center;
      &>div {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-align: left;
      }
      a {
        color: white;
        display: inline-block;
        margin: 24px 30px 25px 0;
      }
      p {
        font-size: 14px;
        line-height: 19px;
      }
      .slogan {
        margin: 10px 0 20px 0;
      }
    }
    .copyright {
      width: 283px;
      margin-left: 55px;
      margin-right: 55px;
    }
    .codeList {
      text-align: left;
      &>div {
        display: inline-block;
        margin-right: 33px;
        margin-top: 23px;
        text-align: center;
        img {
          width: 82px;
          height: 82px;
          margin-bottom: 6px;
        }
      }
    }
  }
  form {
    margin: 0 auto;
    width: 508px;
    text-align: left;
    p {
      text-align: center;
      margin: 20px 0;
    }
    h1 {
      font-size: 30px;
      color: $main-color;
      text-align: center;
      margin-top: 101px;
      margin-bottom: 40px;
    }
    label {
      font-size: 14px;
      font-weight: 400;
      color: black;
      width: 140px;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
    }
    .formItem {
      margin-bottom: 28px;
      img {
        vertical-align: middle;
        height: 30px;
        margin-right: 10px;
      }
    }
    
  }
  input {
    width: 268px;
    height: 30px;
    background-color: #fff;
    outline: none;
    border:none;
    padding: 0 10px;
    &.code {
      width: 100px;
      margin-right: 10px;
    }
  }
  select {
    @extend input;
    width: 288px;
    padding: 0;
  }
  .btn {
      width: 230px;
      display: inline-block;
      background:linear-gradient(270deg,rgba(255,100,0,1) 0%,rgba(255,151,17,1) 100%);
      border-radius:40px;
      color: white;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 20px;
    }
  textarea {
    @extend input;
    height: 80px;
    vertical-align: middle;
    padding-top: 8px;
  }
  .pagination {
    @extend .clearfix;
    margin: 20px 0;
    li {
      list-style: none;
      float: left;
      font-size: 14px;
      color: $nav-color;
      margin: 0 10px;
      &:hover {
        color: $main-color
      }
      &.active {
        color: $submain-color;
      }
      &.disabled {
        cursor: not-allowed;
        &:hover {
          color: $nav-color;
        }
        
        a {
          cursor: not-allowed;
        }
      }
    }
  }
  /* 内容详情页的统一样式 */
  .article {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    /* p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    ol {
      display: block;
      list-style-type: decimal;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
    h1 {
      display: block;
      font-size: 32rpx;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold; 
    }
    h2 {
      font-size: 24px;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;

    } */
    a {
      &:linked {
        color: $link-color;
      }
      &:visited {
        color: $nav-color;
      }
      &:active {
        color: $submain-color;
      }
      &::hover {
        color: $main-color;
      }
    }
  }