@import './variables';
.banner {
  text-align: center;
  position: relative;
  background: url('/banner.png') no-repeat left top;
  background-size: cover;
  height: 100%;
  //padding-top: 115px;
  padding: 115px 0 154px 0;
  h1 {
    margin-bottom: 8px;
    font-size: 60px;
  }
  .h2 {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: bolder;
  }
  p {
    font-size: 14px;
    margin-bottom: 31px;
  }
  .share {
    position: relative;
    .icon {
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      color: white;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background:rgba(255,82,55,1);
      line-height: 37px;
      transform: translate(-5%,0);
    }
    border-radius: 24px;
    margin-right: 16px;
    font-size: 14px;
    color: white;
    display: inline-block;
    padding: 11px 100px 10px 50px;
    background: linear-gradient(270deg,rgba(255,151,17,0) 0%,rgba(255,151,17,1) 34%,rgba(255,100,0,1) 100%);
  }
  
  
}
.register {
    display: inline-block;
    width: 312px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
    margin: 118px 0 154px 0;
    border-radius: 14px;
    background: linear-gradient(270deg,rgba(255,100,0,1) 0%,rgba(255,151,17,1) 100%);
  }
.title {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 121px;
    margin-bottom: 87px;
    font-style: italic;
    img {
      width: 23px;
      vertical-align: middle;
      margin: 0 8px;
    }
  }
.list {
    text-align: center;
    height: 512px;
    
    &>div {
      &.bottom {
        margin-top: 60px;
      }
      display: inline-block;
      vertical-align: top;
      width: 289px;
      height: 417px;
      box-shadow:0px 0px 8px 0px rgba(0,0,0,0.1);
      border-radius:14px;
      margin-right: 14px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 202px;
        height: 202px;
        margin-top: 40px;
        border-radius: 50%;
      }
      h2 {
        color: $main-color;
        font-weight: 500;
        font-size: 30px;
        margin-top: 54px;
      }
      p {
        font-size: 14px;
        color:$base-color;
        line-height: 24px;
        margin: 10px 24px 0 24px;
        text-align: center;
      }
    }
  }

  .service {
    color: $main-color;
    p {
      font-size: 12px;
      color: $submain-color;
      line-height: 24px;
    }
    h3 {
      color: $main-color;
      font-weight: 600;
      font-size: 30px;
    }
    .list_wrapper {
      text-align: center;
      &>div {
        display: inline-block;
        vertical-align: middle;
        &.left {
          width: 240px;
          text-align: right;
          //margin-right: 89px;
          img {
            width: 34px;
          }
          .activity {
            margin-top: 66px;
          }
        }
        &.middle {
          img {
            margin-top: 33px;
            width: 387px;
            height: 297px;
          }
        }
        &.right {
          img {
            width: 34px;
          }
          //margin-left: 89px;
          width: 300px;
          text-align: left;
          .number {
            margin-top: 70px;
          }
        }
      }
    }
  
  }
  .steps {
    height: 600px;
    background: url('/bk1.png') no-repeat left top;
    background-size: cover;
    color: #fff;
    padding-top: 73px;
    margin-top: 121px;
    text-align: center;
    .title {
      margin-top: 0;
      color: #fff;
      margin-bottom: 137px;
    }
    .h3  {
      margin-top: 13px;
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-size: 14px;
      line-height: 19px;
      opacity: 0.6;
    }
    .code {
      width: 100px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      img {
        width: 100px;
        height: 92px;
      }
      div {
        position: absolute;
        font-size: 20px;
        width: 149px;
        bottom: 0;
        left: -24px;
        transform: translate(0, 120%);
      }
    }
    .step_wrapper {
      display: inline-block;
      vertical-align: top;
      .top {
        height: 46px;
        border-bottom: 2px solid $submain-color;
        position: relative;
        span {
          position: absolute;
          right: 0;
          font-size: 48px;
          letter-spacing: 3px;
          color: $submain-color;
          transform: translate(50%, 0);
          display: inline-block;
        }
      }
      .bottom {
        text-align: left;
        &>div {
          display: inline-block;
          vertical-align: top;
          position: relative;
          &::after {
            position: absolute;
            content: " ";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #ffffff;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .step1 {
          margin-left: 121px;
        }
        .step2 {
          margin-left: 118px;
        }
        .step3 {
          margin-left: 113px;
        }
        .step4 {
          margin-left: 134px;
        }
      }
    }

  }
  .entry {
    section {
      text-align: center;
      .imgWrapper {
        width: 691px;
        height: 389px;
      }
      img {
        width: 530px;
        margin-right: 15px;
      }
      &>div {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        color: black;
      }

      h3 {
        font-size: 18px;
        font-style: italic;
        line-height: 21px;
        margin-top: 22px;

      }
      p {
        font-size: 14px;
        margin-top: 7px;
      }
      .register {
        margin-top: 31px;
        margin-bottom: 0;
      }
    }
  }
  .social {
    margin-bottom: 70px;
    section {
      text-align: center;
      img {
        width: 530px;
        margin-right: 15px;
      }
      &>div {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        color: black;
      }

      h3 {
        font-size: 18px;
        font-style: italic;
        line-height: 21px;
        margin-top: 22px;

      }
      p {
        font-size: 14px;
        margin-top: 7px;
      }
      .register {
        margin-top: 31px;
        margin-bottom: 0;
      }
    }
  }
  