@import './variables';
.articleList {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 800px;
  
  section {
    margin-bottom: 20px;
    padding: 18px 14px;
    text-align: left;
    border: 1px solid $provider-border-color;
    &>div {
      display: inline-block;
      vertical-align: top;
      h4 {
        font-size: 20px;
        height: 28px;
        line-height: 28px;
        color: $submain-color;
      }
      article {
        height: 54px;
        overflow: hidden;
        font-size: 14px;
        margin: 8px 0;
      }
      
      
    }
    .left {
        width: 216px;
        margin-right: 10px;
      img {
        width: 216px;
        height: 120px;
        vertical-align: middle;
    }
      }
      .right {
        width: 530px;
      }
    
  }
}
.extra {
  font-size: 12px;
  color: $provider-color;
  
  span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    position: relative;
    line-height: 25px;
    } 
  img {
    width: 16px;
    vertical-align: middle;
    margin-right: 8px;
  }     
  }
.article {
  width: 800px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 16px;
  margin: 0 20px 38px 0;
  .body {
    padding: 20px;
    border: 1px solid $provider-border-color;
    h1 {
      margin-bottom: 12px;
    }
    article {
      margin-top: 20px;
    }
  }
  &.post {
    width: 1200px;
  }
}
.links {
  border: 1px solid $provider-border-color;
  overflow: hidden;
  padding: 30px;
  font-size: 14px;
  margin-top: 20px;
  a {
    color: $link-color;
    font-size: 14px;
    text-decoration: underline;
  }
  &>div {
    float: left;
    width: 350px;
    &.after {
      float: right;
    }
  }
}
.nav {
  color: $provider-color;
  font-size: 14px;
  a {
    color: $link-color;
    margin: 0 4px;
    font-size: 14px;
    
  }
  strong {
     margin: 0 4px;
  }
}
.download {
  text-align: center;
  border: 1px solid $provider-border-color;
  form {
    width: auto;
    padding: 13px 22px;
    background-color: $form-bk-color;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    label {
      width: 51px;
      em {
        color: $main-color;
        margin-right: 1px;
      }
    }
    h3 {
      color: $main-color;
      font-size: 22px;
    }
    p {
      margin: 13px 0;
    }
    input {
      width: 268px;
    }
  }
  .info {
    display: inline-block;
    vertical-align: top;
    width: 415px;
    padding-top: 35px;
    p {
      font-size: 14px;
      color: $nav-color;
      margin: 8px 0;
      &.tips {
        color: $main-color;
      }
    }

  }
}
.hotList {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  font-size: 16px;
  color: $provider-color;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  section {
    border: 1px solid $provider-border-color;
    margin-bottom: 20px;
    h2 {
      font-size: 20px;
      height: 54px;
      text-align: left;
      line-height: 50px;
      
      color: $provider-color;
      border-bottom: 1px solid $provider-border-color;
      img {
        vertical-align: middle;
        width: 16px;
        margin: 0 10px 0 14px;
      }
    }
    div {
      padding: 18px 14px;
      a {
        display: block;
        font-size: 16px;
        position: relative;
        margin-bottom: 13px;
        padding-left: 18px;
        overflow-x: hidden;
        color: $provider-color;
        &::before {
          content: ' ';
          position: absolute;
          height: 7px;
          width: 7px;
          background-color: $knoweldge-bk-icon;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
}
.subnav {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  margin: 0 30px 0 0;
  a {
    color: $nav-color;
  }
  &.active {
    a {
      color: $main-color !important;
    }
    
    &::after {
      content: ' ';
      height: 8px;
      width: 100%;
      display: block;
      background: url('/selected-border.png') no-repeat left bottom;
      background-size: contain;
      transform: translate(0 , -100%);
    }
  }
  &:hover {
    a {
      color: $main-color !important;
    }
    
    &::after {
      content: ' ';
      height: 8px;
      width: 100%;
      display: block;
      background: url('/selected-border.png') no-repeat left bottom;
      background-size: contain;
      transform: translate(0 , -100%);
    }
  }
}