@import './variables';
.formTips {
  margin-left: 140px;
  font-size: 12px;
  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px 0 20px;
    font-size: 14px;
    color: $submain-color;
  }
  p {
    margin: 20px 0;
  }
}
.register {
  text-align: center;
  
  margin-top: 121px;
  
  form {
    display: inline-block;
    vertical-align: top;
    h1 {
      margin-top: 0;
    }
  }
  .notice {
    margin-top: 77px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    color: #FF8252;
    line-height: 24px;
    h4 {
      font-size: 16px;
      margin-bottom: 16px;
    }
    p {
      &:last-child {
        color: black;
        margin-top: 20px;
      }
    }
  }
}