@import './variables';
.navbar {
  height: 80px;
  line-height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: #ffff;
  .nav {
    display: inline-block;
    vertical-align: middle;
    a {
      display: inline-block;
      margin: 0 27px;
      color: $nav-color;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1px;
      text-align: center;
      
      &.active {
        color: $main-color
      }
    }
  }
  .related {
    float: right;
    vertical-align: middle;
    a {
      color: $main-color;
      text-decoration: none;
      border-bottom: 1px solid $main-color;
      font-size: 14px;
      font-weight: 400;
      margin-right: 20px;
    }
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 131px;
    img {
      vertical-align: middle;
      width: 150px;
      height: 48px;
    }
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
