@import './variables';
.nav {
  width: 1200px;
  height: 51px;
  line-height: 51px;
  border-width: 1px 0;
  border-style: solid;
  border-color: $provider-border-color;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translate(-50%,0);
  background-color: #fff;
  z-index: 10;
  margin: 0;
  color: $main-color;
  text-align: center;
}
.content {
  width: 1200px;
  border: 1px solid $provider-border-color;
  margin: 71px auto 20px auto;
  .body {
    padding: 20px 30px;
  }
  p {
    position: relative;
    margin-bottom: 20px;
    span {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    em {
        display: inline-block;
        padding-left: 3px ;
        margin-right: 8px;
        font-weight: 600;
      }
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8px;
        border-radius: 2px;
        height: 2px;
        transform: translate(50%, -50%);
        background-color: $main-color;
      }
    line-height: 40px;
    height: 40px;
    font-size: 16px;
  }
}