@import './variables';
.nav {
  width: 1200px;
  height: 51px;
  line-height: 51px;
  border-width: 1px 0;
  border-style: solid;
  border-color: $provider-border-color;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translate(-50%,0);
  background-color: #fff;
  z-index: 10;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    a {
      color: $nav-color;
    }
    &:hover {
      color: $provider-color !important;
      &::after {
        content: ' ';
        height: 8px;
        width: 100%;
        display: block;
        background: url('/selected-border.png') no-repeat left bottom;
        background-size: contain;
        transform: translate(0 , -100%);
      }
    }
  }
}
.content {
  text-align: center;
  margin-top: 71px;
  .register {
    text-align: center;
    a {
      display: inline-block;
      width: 230px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      color: #ffffff;
      margin: 20px 0 50px 0;
      border-radius: 40px;
      background: linear-gradient(270deg,rgba(255,100,0,1) 0%,rgba(255,151,17,1) 100%);
  }
  }
  &.singale {
    margin-top: 20px;
  }
}
.cardWrapper {
  width: 800px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  h2 {
    margin: 0;
    padding: 0;
  }
}
.articleList {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 380px;
  display: inline-block;
  vertical-align: top;
  section {
    border: 1px solid $provider-border-color;
    h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: $main-color;
    padding: 13px 12px;
    border: 1px solid $provider-border-color;
  }
  &>div {
    padding: 19px 12px;
    font-size: 16px;
    line-height: 19px;
    p {
      margin: 0;
      padding: 0;
      margin-bottom: 19px;
      position: relative;
      span {
        display: inline-block;
        padding-left: 3px ;
        margin-right: 8px;
        font-weight: 600;
        font-style: italic;
      }
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8px;
        border-radius: 2px;
        height: 2px;
        transform: translate(50%, -50%);
        background-color: $main-color;
      }
    }
  }
  
  }
  a {
    display: block;
    width: 378px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
    margin: 16px 0 0 0;
    border-radius: 14px;
    background: linear-gradient(270deg,rgba(255,100,0,1) 0%,rgba(255,151,17,1) 100%);
  }
  
}
.card {
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top: 28px;
  border: 1px solid $provider-bk1-color;
  position: relative;
  &:first-child {
    margin-top: 0;
  }
  img {
    position: absolute;
    width: 54px;
    height: 60px;
    left: 22px;
    top: 0;
    transform: translate(0, -37%);
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;

  }
  h3 {
   
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 20px;
  }
  .title {
    height: 38px;
    line-height: 38px;
    padding-left: 94px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
  section {
    padding: 0px 22px 30px 22px;

  }
  &.card1 {
    .title {
      background-color: $provider-bk1-color;
    }
    
  }
  &.card2 {
    .title {
      background-color: $provider-bk2-color;
      color: $provider-card2-color;
    }
    border-color: $provider-bk2-color;
  }
  &.card3 {
    .title {
      background-color: $provider-bk3-color;
      color: $provider-card3-color;
    }
    border-color: $provider-bk3-color;
    .top {
      color: $provider-bk3-color;
      font-size: 24px;
      letter-spacing: 1px;
      border-bottom: 2px solid $provider-bk3-color;
      &>div {
        margin: 27px 119px 29px 0;
        position: relative;
        text-align: center;
        width: 80px;
        display: inline-block;
        vertical-align: middle;
        &:last-child {
          margin-right: 0;
        }
        &::after {
          content: ' ';
          width: 7px;
          height: 7px;
          background-color: $provider-bk3-color;
          border-radius: 50%;
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 33px);
        }
      }
    }
    .bottom {
      p {
        font-size: 14px;
        color: $provider-step-color;
      }
      h5 {
        font-size: 16px;
      }
      &>div {
        margin: 27px 119px 29px 0;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        &:last-child {
            margin-right: 0;
        }
      }
    }
  }
  &.card4 {
    .title {
      background-color: $provider-bk4-color;
      color: $provider-card4-color;
    }
    border-color: $provider-bk4-color;
  }
}
